* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:linear-gradient(rgba(0, 0, 0, 0.177),rgba(0, 0, 0, 0.103)), url('fondo3.jpg') ;
    background-size: cover;
    background-attachment: fixed;
}
#d{
    float: center;
}
body nav ul li a{
    color: white !important;
}
body nav div a{
    color: white !important;
}
nav{
    overflow: hidden;
    margin: 20px auto;
}

nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 10px 130px;
}
nav ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.main .articles{
    width: 50%;
    margin-right: 50%;
}
p{
    color:white;
}
#ti{
    color:white;
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(min(11.25cem,100%),1fr));
    grid-gap: 1rem;
}
footer{
    color: white;
}